@import "../../variables.scss";

.text-animate {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: bounceIn;
  display: inline-block;
  min-width: 10px;
  opacity: 0;
}
.text-animate-hover {
  animation-fill-mode: both;
  display: inline-block;
  min-width: 10px;
  &:hover {
    animation-duration: 1s;
    animation-name: rubberBand;
    color: $accent-color;
  }
}
@for $i from 1 through 100 {
  .text-animate.delay#{$i} {
    animation-delay: #{calc($i / 10)}s;
  }
}
