@import "../../variables.scss";

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}
.tags {
  color: $accent-color;
  font-family: "La Belle Aurore";
  font-size: 18px;
  left: 65px;
  margin: 13px;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  &.top-tags {
    top: 0px;
  }
  &.bottom-tags {
    bottom: 0px;
  }
}
.container {
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  height: 90%;
  margin: 0 auto;
  min-height: 500px;
  opacity: 0;
  position: absolute;
  top: 5%;
  transform-style: preserve-3d;
  width: 100%;
}
