@import "../../variables.scss";


.App {
  background: $background-color;
  color: $primary-color;
  display: grid;
  font-family: "Helvetica Neue", "sans-serif";
  font-weight: 400;
  grid-template-areas: "nav page";
  grid-template-columns: $sidebarwidth auto;
  height: max-content; /* sidebar items will shift for small height */
  line-height: 1.3;
  min-height: 100svh; /* "s" accouns for mobile address bar */
  min-width: 100svw; /* "s" accouns for mobile address bar */
  overflow-x: hidden; /* article element overflows */
  width: max-content;
  .wheel-and-hamster {
    --dur: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fadeOut;
    font-size: 26px;
    height: 12em;
    left: calc(50% + $sidebarwidth/2);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); /* uses div center as reference for positioning */
    width: 12em;
  }
  .page {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: page;
    height: 100%;
    justify-content: space-between;
    .horizontal-bar {
      align-items: center;
      display: flex;
      height: 65px;
      opacity: 1;
      width: 100%;
      z-index: 1;
      .tags {
        animation-delay: 3s;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: glow;
        animation-timing-function: ease-in-out;
        color: $accent-color;
        font-family: "La Belle Aurore";
        font-size: 18px;
        margin-left: 13px;
        opacity: 0.5;
      }
    }
    article {
      // box-sizing: border-box; /* adds padding/border WxH; */
      display: flex;
      flex-direction: column;
      margin-left: $sidebarwidth; /* in case width is too narrow */
      margin-right: $sidebarwidth;
      width: 500px;
      z-index: 0; /* must be at least 0 to be above parent containers */
    }
  }
}
