@import "../../variables.scss";
@import "./envelope.scss";

.contact-page {
  .heading {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .letter-image {
      animation-delay: 2s;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-name: fadeIn;
      height: $size;
      opacity: 0;
      position: relative; /* so .shadow references this */
      width: $size;
    }
  }
  p {
    animation-delay: 1.5s, 1.5s;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards, forwards;
    animation-name: fadeIn, pulse;
    opacity: 0;
  }
}
