@import "../../variables.scss";

.nav-bar {
  background: $nav-bar-color;
  display: flex;
  flex-direction: column;
  grid-area: nav;
  height: 100%;
  justify-content: space-between;
  z-index: 100; /* in case when .nav-bar gets covered by .page */
  svg {
    color: $secondary-color;
  }
  .logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 100%;
      &.sub-logo {
        width: 78%;
      }
    }
  }
  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    a {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: $navbarwidth;
      justify-content: center;
      position: relative; /* anchor point for children */
      width: 0px; /* don't want the area outside the svg to be clickable */
      svg {
        position: absolute;
        height: 50%;
      }
      &.active {
        color: $accent-color;
      }
      .link-text {
        color: $accent-color;
        opacity: 0;
        position: absolute;
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease-out;
      }
    }
    &:nth-of-type(1) a {
      &.active svg {
        color: $accent-color;
      }
      &:hover {
        svg {
          opacity: 0;
        }
        .link-text {
          opacity: 1;
        }
      }
    }
    &:nth-of-type(2) a svg:hover {
      animation-duration: 2s;
      animation-name: wiggle;
      color: $accent-color;
    }
  }
}
