@import "../../variables.scss";

div .nav-bar {
  background: $nav-bar-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 500px; /* TODO: set to scrollable height */
  position: absolute;
  width: 65px;
  z-index: 100; /* in case when .nav-bar gets covered by .page */
  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      &.sub-logo {
        width: 52px;
      }
    }
  }
  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    a {
      display: block;
      font-size: 26px;
      height: 52px;
      line-height: 52px;
      position: relative;
      .link-text {
        align-items: center;
        bottom: 0;
        color: $accent-color;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        letter-spacing: 1px;
        opacity: 0;
        position: absolute;
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease-out;
        width: 100%;
      }
      &.active {
        svg {
          color: $accent-color;
        }
      }
      &:hover {
        svg {
          opacity: 0;
        }
        .link-text {
          opacity: 1;
        }
      }
    }
  }
  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0; /* user agent default to 40 */
    li {
      a {
        display: block;
        font-size: 26px;
        height: 52px;
        line-height: 52px;
      }
      &:hover svg {
        animation-duration: 2s;
        animation-name: wiggle;
        color: $accent-color;
      }
    }
  }
}
