@keyframes scrolling {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-100%);
  }
}

.music-player {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 1rem;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: center;
  width: 13rem;
  .song-info {
    // text-overflow: ellipsis; /* prevents text from going outside div */
    box-sizing: border-box;
    height: 1rem;
    overflow: hidden;
    padding: 0 0rem 2rem 0rem;
    white-space: nowrap; /* prevents text from starting new line*/
    width: 60%; /* caps the div size */
    .scrolling-text {
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-name: scrolling;
      animation-timing-function: linear;
      width: max-content; /* ensures div width equals text width so scroll doesn't end early */
    }
  }
  .controls {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    button {
      background-color: transparent;
      border-width: 0; /* border: 0; will override all border properties incl color */
      box-sizing: border-box;
      cursor: pointer;
      height: 2rem;
      padding: 0;
      transition: 100ms all ease;
      width: 2rem;
      &.play {
        border-color: transparent transparent transparent var(--accent-color);
        border-style: solid;
        border-width: 1rem 0 1rem 2rem;
      }
      &.pause {
        border-color: transparent transparent transparent var(--accent-color);
        border-style: double;
        border-width: 0rem 0rem 0rem 2rem;
      }
      &.previous {
        border-color: transparent var(--accent-color) transparent var(--accent-color);
        border-style: solid solid solid double;
        border-width: 0.78rem 1.5rem 0.78rem 0.5rem;
      }
      &.next {
        border-color: transparent var(--accent-color) transparent var(--accent-color);
        border-style: solid double solid solid;
        border-width: 0.78rem 0.5rem 0.78rem 1.5rem;
      }
    }
  }
}
