$accent-color: #ffd700;
$background-color: #022c43;
$foreground-color: #fff;
$nav-bar-color: #181818;
$secondary-color: #8d8d8d;

@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/CoolveticaRg-Regular.woff2");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/helvetica-neue.ttf");
}
@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets/fonts/LaBelleAurore.woff2");
}
@font-face {
  font-family: "PressStart2P2";
  src: url("./assets/fonts/PressStart2P-Regular.ttf");
}

@keyframes wiggle {
  //https://blog.hubspot.com/website/css-animation-examples
  0%,
  10% {
    transform: rotateZ(0);
  }
  15% {
    transform: scale(1.5) rotateZ(-15deg);
  }
  20% {
    transform: scale(1.5) rotateZ(10deg);
  }
  25% {
    transform: scale(1.5) rotateZ(-10deg);
  }
  30% {
    transform: scale(1.5) rotateZ(6deg);
  }
  35% {
    transform: scale(1.5) rotateZ(-4deg);
  }
  40%,
  100% {
    transform: scale(1) rotateZ(0);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }
}
